@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
}


.rc-anchor-alert{
  display: none !important;
}

@layer components {
  .container {
    @apply mx-auto max-w-7xl;
  }

  .page_section{
    @apply font-poppins pt-28 min-h-screen bg-intro-back bg-no-repeat bg-cover 
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .nav-links{
    @apply text-white text-lg font-poppins  hover:text-gray-300
  }

  .nav_bar_section{
    @apply inline-flex items-center cursor-pointer space-x-2 text-primaryText hover:text-tersaryText transition-all ease-out 
  }

  .nav_bar_section.active {
    @apply text-tersaryText;
  }

  .link_button{
    @apply bg-primary font-poppins text-white px-4 py-2 rounded-full hover:bg-[#7844e9df] transition duration-300
  }

  .submit-button{
    @apply bg-primary lg:w-max w-full text-white px-4 py-2 rounded-full hover:bg-blue-700 transition duration-300
  }

  .intro__heading {
    @apply lg:text-4xl text-2xl font-bold mb-2;
  }

  .main__heading{
    @apply text-2xl font-bold mb-4 text-white
  }

  .rc-anchor-alert{
    @apply hidden
  }
}

@layer utilities {
  /* Define scrollbar styles */
  ::-webkit-scrollbar {
    width: 4px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #4a5568, #2d3748);
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, #434190, #7f9cf5);
  }

}






