@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@layer components {
  .container {
    @apply mx-auto max-w-7xl;
  }

  .page_section{
    @apply font-serif pt-28 min-h-screen bg-intro-back bg-no-repeat bg-cover 
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .nav-links{
    @apply text-white text-lg font-serif  hover:text-gray-300
  }

  .link_button{
    @apply bg-[#7844E9] font-serif text-white px-4 py-2 rounded-full hover:bg-[#7844e9df] transition duration-300
  }

  .submit-button{
    @apply bg-[#7844E9] lg:w-max w-full text-white px-4 py-2 rounded-full hover:bg-blue-700 transition duration-300
  }

  .intro__heading {
    @apply lg:text-4xl text-2xl font-bold mb-2;
  }

  .main__heading{
    @apply text-2xl font-bold mb-4 text-white
  }
}

@layer utilities {
  /* Define scrollbar styles */
  ::-webkit-scrollbar {
    width: 4px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #4a5568, #2d3748);
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, #434190, #7f9cf5);
  }
}






